* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* leer la propiedad */
  box-sizing: border-box;
}
body {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  max-width: 250px;
  padding: 20px;
  height: 100vh;
  width: 100%;
}
main {
  width: 100%;
}
aside input {
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}
img {
  width: 30px;
  height: 30px;
}
.Contact-List {
  list-style: none;
}
li {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.contact-select {
  background-color: rgb(204, 204, 204);
}
.timestampred::before {
  content: "• ";
  color: red;
}
.timestampgreen::before {
  content: "• ";
  color: green;
}
.timestampgreen,
.timestampred {
  color: gray;
  font-size: 12px;
}
.chat-header {
  display: flex;
  gap: 5px;
  margin-top: 12px;
}

.btn-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
button {
  font-size: 15px;
}
.chat {
  display: flex;
  flex-direction: column;
  border: 2px;
  height: 100%;
}
.input-place {
  display: flex;
  justify-content: space-between;
}
.chat-message {
  height: 80vh;
  background-color: rgb(247, 249, 250);
}
.messages-sent {
  background-color: rgb(228, 242, 247);
  border-radius: 20px;
  padding: 10px;
}
.messages-received1 {
  background-color: rgb(237, 237, 237);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}
.messages-received2 {
  background-color: rgb(237, 237, 237);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}
